*{
    margin: 0 ;
    padding: 0;
}

ul{
list-style: none;
    margin-inline: 40px;
}

.nav_links1{
    margin-inline: 12px;

}
.header_string{
    cursor: default;
    color: #0b0b0b;
    transition:0.5s;
}
.header_string:hover{
   color: #939393;

}
.nav_container{
    display: flex;
    gap:30px;
    margin-inline:auto;
    align-content: center;

}
a{
    text-decoration: none;

}
.name-user{
    cursor: default;
    color: #0b0b0b;
    transition:0.5s;
}
.name-user:hover{
    color: aqua;
}
.header_1{
    display: flex;
    padding: 20px;

    background-color: #fafafa;


}
.login{
    float: right;
    cursor: default;
    color: #0b0b0b;
    transition:0.5s;
    margin-inline: 40px;
    border: 1px solid slategray;
    background-color: #8a0404;
    border-radius: 4px;
    width: 59px;

}
.login:hover{
    color: #f3f3f3;
    background: #913030;
    width: 63px;
    padding: 2px;

}