.status-completed{
    color: green;
}
.status-in-progress{
    color: #da0202;
}
.card{
    margin-bottom: 15px;
    width: 100%;
    max-width: 600px;
    background-color: #c5c5c5;
    display: flex;

}
.card_text{
    background-color: saddlebrown;
    width: 565px;
}
.card_button{
    display:block;
    margin-left: auto;
    align-content: center;
    margin-right: 15px;
    background-color: #043dfb;
}
.card_button_edit{
    flex: 1;
    border-radius: 3px;
    padding: 3px;
    background-color: #da0202;
}
.card_button_delete{
    flex: 1;
    background-color: #da0202;
}